* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #A8A7A7;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
    --linear-dark: linear-gradient(90deg, #100d27 0%, #0c2e41 100%);
  }

h1, title {
    font-family: 'Lexend Deca', sans-serif;
}

h2, p, span {
    font-family: 'Inter', sans-serif;
}