#container {
    padding: 1rem;

    &.light {
         background: var(--linear);

         header {
            .topHeader {
                .rightSide {
                    button {
                        transition: 1s;
                    }
                }
            }
        }
    }

    &.dark {
        background: var(--linear-dark);

        header {
            .topHeader {
                .rightSide {
                    button {
                        transition: 1s;
                        background: var(--white);
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    header {
        max-width: 1000px;
        margin: 0 auto;

        .topHeader {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;

            h1 {
                font-size: 1.8rem;
                font-weight: bold;
                color: var(--white);
            }

            .rightSide {
                display: flex;
                                
                h1 {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: var(--white);

                    margin-right: 0.5rem;
                }

                button {
                    background-color: transparent;
                    border: 0;

                    .headerImg {
                        width: 2.7rem;
                        height: 2.3rem;
                        border: 0;
                        border-radius: 50%;
                    }
                }

                button:hover {
                    cursor: pointer;
                }
            }
        }
    
        input {
            width: 100%;
            padding: 0.5rem 3.5rem;
            margin-bottom: 1.5rem;

            background-color: rgba(255, 255, 255, 0.2);
            background-image: url(../../images/lupa.svg);
            background-repeat: no-repeat; 
            background-position: 0.5rem;
            background-size: 2.5rem;

            color: var(--white);
            font-size: 1.3rem;
            border: none;

            &::placeholder {
                color: rgba(255, 255, 255, 0.404);
            }
        }
    }

    
}

