.container {
    background-color: #F3F5F7;
    padding-top: 3rem;
    padding-bottom: 0.5rem;

    .postContainer {
        max-width: 1000px;
        margin: 0 auto 3rem auto;
        width: 100%;
        padding: 1rem;

        background-color: var(--white);
        border-radius: 0.25rem;
        box-shadow: 0 0 3px rgb(0 0 0 / 10%);

        h1 {
            margin-bottom: 0.5rem;

            font-size: 1.6rem;
            font-weight: 400;
            color: var(--title);
        }

        p {
            font-size: 1rem;
            color: var(--text);
        }

        .topContainer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.7rem;

            span {
                font-size: 0.9rem;
                font-weight: 500;
                color: var(--text);
            }
            
            p {
                color:var(--blue-dark);
                font-size: 1.5rem;
            }

            p:hover {
                cursor: pointer;
            }
        }
    }
}
